:root {
  --green-primary: rgb(7, 112, 89);
  --grey-card-top-primary: #d2d2d2;
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

video {
  right: 0;
  bottom: 0;
  min-width: 100vw;
  width: 100vw;
  z-index: -100;
}

#astronautName {
  margin-top: 6rem;
}

#astronautCard:hover #astronautName::after {
  transform: scaleX(1);
}
